h1 {
  text-align: center; }

.gauge-container {
  height: 700px;
  position: relative;
  padding-top: 40px; }
  .gauge-container .gauge {
    width: 150px;
    border: 1px solid #666;
    margin: 0 auto;
    height: 480px;
    position: relative; }
    .gauge-container .gauge .meter {
      position: absolute;
      width: 100%;
      bottom: 0;
      transition: 0.4s ease all; }
  .gauge-container.heather .image {
    background-image: url(/assets/heather.jpg); }
  
  .gauge-container.heather .meter {
    background-color: #DFD0AE; }
 
  .gauge-container.tessa .image {
    background-image: url(/assets/tessa.JPG); }
 
  .gauge-container.tessa .meter {
    background-color: #D1B7EE; }
  
  .gauge-container.gwyneth .image {
    background-image: url(/assets/gwynnie.JPG); }

  .gauge-container.gwyneth .meter {
    background-color: pink; }

  .gauge-container .image {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 55px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat; }

    .gauge-container .image:hover {
      cursor: pointer; }

  .gauge-container h2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
